*{
   margin: 0;
   box-sizing: border-box;
   padding: 0;
}
body{
   background-color: black;
   color: white;
   font-family : Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
  color: inherit;
}

.page{
   margin: 30px auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   max-width: 500px;
}
.title{
   font-size: 40px;
   width: 80%;
   margin: 5px;
}
.create-btn{
   margin : 5px;
   background-color: #1e90ff;
   color: white;
   width: 80%;
   font-size: 23px;
   border-radius: 10px;
   border: 0px;
   padding: 10px;
}
.danger-btn{
   margin : 5px;
   background-color: red;
   color: white;
   width: 80%;
   font-size: 23px;
   border-radius: 10px;
   border: 0px;
   padding: 10px;
}
.task-list{
   background-color: rgb(35, 34, 34);
   width: 80%;
   margin: 5px;
   padding: 12px;
   border-radius: 10px;
}
.task-list p {
   color: gray;
   font-weight: 400;
   font-size: 15px;
}
.task-list h3{
   color: white;
   font-weight: 600;
}
.task-link {
  width: 80%;
  display: block;
}

.back-btn{
   text-decoration: none;
   color: #1e90ff;
   width: 80%;
}

.input-box{
   display: flex;
   flex-direction: column;
   background-color: rgb(35, 34, 34);
   width: 80%;
   padding: 20px;
   margin: 10px;
   border-radius: 10px;
   
}
.input{
   background-color: rgb(35, 34, 34);
   color: white;
   border: hidden;
   margin: 10px;
   width: 100%;
   resize: none;
   outline: none;
}
.task-card{
   display: flex;
   align-items: center;
   margin: 10px;
}
.task-title{
   margin: 5px;
   font-size: 20px;
}
.priority.high {
  background-color: #ff4d4d;
  border-radius: 5px;
  padding: 5px;
}

.priority.medium {
  background-color: #ffa500;
  color: black;
  border-radius: 5px;
  padding: 5px;
}

.priority.low {
  background-color: #4caf50;
  border-radius: 5px;
  padding: 5px;
}
.task-right {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  color: #b5b5b5;
}
.due-date {
  font-size: 12px;
}